{
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"targets": {
					"browserlist": [">2%", "last 2 versions"]
				}
			}
		]
	],
	"plugins": ["@babel/plugin-proposal-class-properties"]
}
